.row
  .large-12.columns
    %h4 Education
    %ul.side-nav
      %li
        %a{ href: url('/education/diamonds/') } Diamonds
      %li
        %a{ href: url('/education/rings/') } Engagement Rings
    %h4
