- @title = "Engagement Ring Education"

%h1 Engagement Ring Education
%dl.sub-nav
  %dt Rings:
  %dd.active
    %a Styles
  %dd
    %a Metals
  %dd
    %a Other Stuff
  %dd
    %a Take The Test

= markdown :'rings/home'
