$shapes: round princess radiant cushion oval emerald marquise asscher pear;
$size: 150px;

.diamond {
  background: url('/img/diamonds.png') no-repeat top left;
  height: $size;
  width: $size;

  @for $i from 1 through length($shapes) {
    &.#{nth($shapes, $i)} {
      background-position: ($size * $i) 0;
    }
  }

  // .diamond.round { background-position: 0px 0px;  }
  // .diamond.princess { background-position: -150px 0px;  }
  // .diamond.radiant { background-position: -300px 0px;  }
  // .diamond.cushion { background-position: -450px 0px;  }
  // .diamond.oval { background-position: -600px 0px;  }
  // .diamond.emerald { background-position: -750px 0px;  }
  // .diamond.marquise { background-position: -900px 0px;  }
  // .diamond.asscher { background-position: -1050px 0px;  }
  // .diamond.pear { background-position: -1200px 0px;  }
}
