.filters, .sorts {
  dd > a {
    border: 1px solid lightgrey;
    border-radius: 5px;

  }
}

.engagement-ring {
  border: 1px solid #d3d3d3;

  img {
    display: block;
    margin: 0 auto;
  }

  footer.entry-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  // Other breakpoints to ease future changes
  // @media #{$small-up} { }
  @media #{$small-only} {
    & {
      height: 255px;
      margin: 10px;
      width: 230px;
    }
    img.lazy {
      max-height: 228px;
      //max-width: 90%
    }
  }

  @media #{$medium-up} {
    & {
      height: 325px;
      margin: 15px;
      width: 302px;
    }
  }
  // @media #{$medium-only} { }
  // @media #{$large-up} { }
  // @media #{$large-only} { }
}
