%h2 Custom design is a fun and entertaining process that is awesome.

%ul
  %li First you design the ring
  %li Then we create a CAD drawing
  %li Then we print a wax
  %li Finally you get a beautiful ring
