-#.row
-#  .large-12.columns
-#    %h4 The 4 Cs are probably the most well known diamond grading characteristics.

.row#education-cs
  .large-12.columns
    %ul.tabs.4cs{ data: { tab: true, options: "deep_linking:true" }, role: "tablist" }
      %li.tab-title.active{ role: "presentational" }
        %a{ href: "#panel2-1", role: "tab", tabindex: "0", aria_selected: "true", controls: "panel2-1" }
          %h4 Carat
      %li.tab-title{ role: "presentational" }
        %a{ href: "#panel2-2", role: "tab", tabindex: "0", aria_selected: "true", controls: "panel2-2" }
          %h4 Color
      %li.tab-title{ role: "presentational" }
        %a{ href: "#panel2-3", role: "tab", tabindex: "0", aria_selected: "true", controls: "panel2-3" }
          %h4 Clarity
      %li.tab-title{ role: "presentational" }
        %a{ href: "#panel2-4", role: "tab", tabindex: "0", aria_selected: "true", controls: "panel2-4" }
          %h4 Cut

    .tabs-content
      %section#panel2-1{ role: "tabpanel", aria_hidden: "false", class: "content active"}

        %ul
          %li
            %strong Carat weight is less a “grade” than it is a measurement.
            %blockquote
              It is important to note that Carat is a measure of weight, not size. In most cases, diamonds get larger as they get heavier, but this is not always the case. Cut affects the appearance of the size as well.
            %p
              What is really means is that carat weight is determined by placing the diamond on a very accurate scale, and is not subject to interpretation.
            .panel.callout.radius
              We have such a scale in our office, and it is so sensitive that we have to turn off the air (and any fans) to ensure we get a stable and accurate reading.

          %li
            %strong The size of a diamond is primarily related to it's millimeter measurements
            %blockquote
              While not a proper C, measurements and carat weight are related. So we'll talk about it here
            %p
              Every certificate has a diamond's size measurements in addition to it's carat weight, and they are worth checking out. They look something like this:
              %pre.text-center 1.23x4.56x7.89
            %p
              The first number is the diameter of the stone, and may also be referred to as the spread. On a round diamond, this is the length across the top. Other diamonds can have both a length and width, which will be represented by the first 2 numbers. The last number is the height of the stone.
            .panel.callout.radius
              Round diamonds technically have a length and width as well, but they are usually the same, or very close. If they weren't, it would actually be an Oval diamond.

          %li
            %strong Carat weight has a <em>major</em> effect on price
            %blockquote
              A diamond that is twice the weight can cost exponentially more than a smaller diamond.
            %p
              This increase gets larger and larger as diamonds get bigger, but the main takeaway is that you can’t spend twice as much to get a diamond that weighs twice as much.

          %li
            %strong <em>"Under Size"</em> diamonds can save you money
            %blockquote
              Under sizes are diamonds that are very close to a cut off size. The cut offs are mainly at each half carat, so 1.00ct-1.50ct-2.00ct and so on. An example of an under size would be 0.90ct or a 1.47ct.
            %p
              They are important because an under size will be priced based on a completely different and often much lower per carat price. These small weight differences can be very minute, but the difference in price can be much more noticeable.

          %li
            %strong Although it is a cold calculating number, carat weight can be very visual
            %blockquote
              You might be surprised at how small the difference in <em>size</em> is compared to a difference in <em>weight</em> (and cost!).
            %p
              This is why it's a great idea to see some live diamonds to make your decision. Some want to make sure they get at least a certain size, but you should have a look to make sure the difference in size is worth the difference in cost.

        %a{ href: "#panel2-2" } Move on to Color >>

        %hr

        .row.text-center
          .large-8.large-centered.columns
            %h5 Navigate the 4 C's

            %dl.sub-nav{ style: 'margin: 0 auto;width: 330px' }
              %dd.active
                %a Carat
              %dd
                %a{ href: "#panel2-2" } Color
              %dd
                %a{ href: "#panel2-3" } Clarity
              %dd
                %a{ href: "#panel2-4" } Cut

      %section{ role: "tabpanel", aria_hidden: "true" , class: "content", id: "panel2-2" }
        %p
          It can be very difficult to tell the difference between diamond color grades. This makes color a flexible trait, and many are perfectly happy with a lower color diamond, especially when you can use the money you save for some extra size or clarity. Of course, having a proper look at some diamonds in person is the best way to find out your feelings on color.
        .panel.callout.radius
          In order to properly evaluate the color of a diamond, gemologists traditionally utilize a set of master stones that represent the standard for each diamond color grade. At GIA, for consistency, the color will be graded by multiple gemologists anonymously and a final color grade is only assigned when there are mutliple graders in agreement.

        %h3 Fast Facts:
        %ul
          %li
            %strong Diamond color ranges from D-Z
          %li
            %strong D is considered completely colorless, with a diamond taking on more yellow color as it approaches Z.
          %li
            %strong Most diamonds you will find for sale range from D-J.

        %p The diamond color grades are grouped together accordingly:

        %table#color-table{ cellspacing: 0, cellpadding: 0, role: "grid" }
          %thead
            %tr
              %th{ colspan: 3 }
                Colorless
              %th{ colspan: 4 }
                Near Colorless
              %th{ colspan: 3 }
                Faint Yellow
              %th{ colspan: 5 }
                Very Light Yellow
              %th{ colspan: 8 }
                Light Yellow
          %tbody
            %tr
              %td{ style: "-webkit-border-top-left-radius: 6px; -moz-border-radius-topleft: 6px; border-top-left-radius: 6px; background-color: #ffffff;" }
              %td{ style: "background-color: #fffffd;" }
              %td{ style: "background-color: #fffffb;border-right: 1px solid lightgrey;" }
              %td{ style: "background-color: #fffff9;" }
              %td{ style: "background-color: #fffff7;" }
              %td{ style: "background-color: #fffff5;" }
              %td{ style: "background-color: #fffff3;border-right: 1px solid lightgrey;" }
              %td{ style: "background-color: #fffff1;" }
              %td{ style: "background-color: #ffffef;" }
              %td{ style: "background-color: #ffffed;border-right: 1px solid lightgrey;" }
              %td{ style: "background-color: #ffffeb;" }
              %td{ style: "background-color: #ffffe9;" }
              %td{ style: "background-color: #ffffe7;" }
              %td{ style: "background-color: #ffffe5;" }
              %td{ style: "background-color: #ffffe3;border-right: 1px solid lightgrey;" }
              %td{ style: "background-color: #ffffe1;" }
              %td{ style: "background-color: #ffffdf;" }
              %td{ style: "background-color: #ffffdd;" }
              %td{ style: "background-color: #ffffdb;" }
              %td{ style: "background-color: #ffffd9;" }
              %td{ style: "background-color: #ffffd7;" }
              %td{ style: "background-color: #ffffd5;" }
              %td{ style: "-webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px; border-top-right-radius: 6px; background-color: #ffffd3;" }
            %tr
              %td{ style: "-webkit-border-top-left-radius: 6px; -moz-border-radius-topleft: 6px; border-top-left-radius: 6px; background-color: #ffffff;"}
                D
              %td{ style: "background-color: #fffffd;" }
                E
              %td{ style: "background-color: #fffffb;border-right: 1px solid lightgrey;" }
                F
              %td{ style: "background-color: #fffff9;" }
                G
              %td{ style: "background-color: #fffff7;" }
                H
              %td{ style: "background-color: #fffff5;" }
                I
              %td{ style: "background-color: #fffff3;border-right: 1px solid lightgrey;" }
                J
              %td{ style: "background-color: #fffff1;" }
                K
              %td{ style: "background-color: #ffffef;" }
                L
              %td{ style: "background-color: #ffffed;border-right: 1px solid lightgrey;" }
                M
              %td{ style: "background-color: #ffffeb;" }
                N
              %td{ style: "background-color: #ffffe9;" }
                O
              %td{ style: "background-color: #ffffe7;" }
                P
              %td{ style: "background-color: #ffffe5;" }
                Q
              %td{ style: "background-color: #ffffe3;border-right: 1px solid lightgrey;" }
                R
              %td{ style: "background-color: #ffffe1;" }
                S
              %td{ style: "background-color: #ffffdf;" }
                T
              %td{ style: "background-color: #ffffdd;" }
                U
              %td{ style: "background-color: #ffffdb;" }
                V
              %td{ style: "background-color: #ffffd9;" }
                W
              %td{ style: "background-color: #ffffd7;" }
                X
              %td{ style: "background-color: #ffffd5;" }
                Y
              %td{ style: "-webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px; border-top-right-radius: 6px; background-color: #ffffd3;" }
                Z

        .panel.callout.radius
          The colors in the above table are not accurate and are only shown for demonstration.

        %p
          Even when diamonds are many grades apart, it can be difficult to notice color differences unless two diamonds are side by side. This is especially true when they are in the same category of diamond colors as shown in the chart.

        %p
          If you're looking to save money, it is often a great idea to get a lower color diamond. As long as your side diamonds are matched to the color of your center stone, your ring will look beautiful. This is one reason why premade rings can cause issues. Since they are already set with diamonds, you won't have the luxury of ensuring they match your center stone.

        .panel.callout.radius
          We generally don't recommend going lower than J color. Past that, the yellow color of a diamond becomes too noticeable.

        %p
          The majority of lower color diamonds exhibit a light yellowish color, but brownish is also possible. As long as you stick with a diamond color of J or higher, you won't have to worry about this.

        %p
          As always, it's always best to have a look at some diamonds in person to come to your own conclusions about color. The big point that I think is important is to not get hung up on numbers and letters on a certificate and let your eyes and heart lead your decision-making.

        %a{ href: "#panel2-3" } Move on to Clarity >>

        %hr

        .row.text-center
          .large-8.large-centered.columns
            %h5 Navigate the 4 C's

            %dl.sub-nav{ style: 'margin: 0 auto;width: 330px' }
              %dd
                %a{ href: "#panel2-1" } Carat
              %dd.active
                %a Color
              %dd
                %a{ href: "#panel2-3" } Clarity
              %dd
                %a{ href: "#panel2-4" } Cut

      %section{ role: "tabpanel", aria_hidden: "true", class: "content", id: "panel2-3" }
        %p
          Diamond clarity is a grade that is assigned based on a manual review of the diamond by mapping the type, size, and location of inclusions. All diamonds have inclusions, with the exception of flawless diamonds (which are very rare and expensive). Regardless of the actual grade, finding a diamond that is <em>eye clean</em> is the most desirable.
        %p
          An inclusion is something in the diamond that doesn’t quite belong. Diamond Inclusions are also called flaws, but don’t think that this means it is defective. Flaws give character to diamonds and make them unique.

        .panel.notice.radius
          %p
            The type, <a>amount</a>, and location of inclusions in a diamond act like a fingerprint. No two diamonds are alike.
        .panel.success.radius
          %p
            The type, <a>amount</a>, and location of inclusions in a diamond act like a fingerprint. No two diamonds are alike.
        .panel.warning.radius
          %p
            The type, <a>amount</a>, and location of inclusions in a diamond act like a fingerprint. No two diamonds are alike.

        %p
          Due to the way diamond clarity is graded, it must be done by a human. Since a human grades the diamond clarity there is always room for opinion. Each lab has set rules based on the size, position, and type of inclusion, but it is up to the grader to make a final decision. This means its important to view a diamond in person and get the help of an expert to ensure that the diamond you are getting is up to your standards.
        %p
          The diamond clarity grades meanings are explained below, going from flawless to included, along with some important points to consider when diamond shopping:

        %h4
          FL&ndash;Flawless
        %ul
          %li
            No visible inclusions under 10x magnification
          %li
            Very rare and expensive

        .panel
          %p
            In most cases you can do better with a lower diamond clarity and larger diamond carat weight, better diamond color, or most importantly, a nicer cut diamond

        %h4
          IF&ndash;Internally Flawless
        %ul
          %li
            No visible inclusions under 10x magnification
          %li
            Flaws only on the surface of the diamond, called blemishes
          %li
            Both FL and IF are sometimes referred to as &#8220;Museum Quality&#8221;

        .panel
          %p
            Most consumers still choose a lower clarity so that other traits can be maximized for their budget


        %h4
          VVS&ndash;Very Very Slightly Included
        %ul
        %li
          Few flaws at 10x magnification
        %li
          It takes a skilled grader to notice inclusions in a VVS diamond
        %li
          For grades with numerical levels, a higher number is better

        .panel
          %p
            VVS is still considered unnecessary for the average consumer

        %h4
          VS&ndash;Very Slightly Included
        %ul
        %li
          Inclusions that are slightly easier to see under 10x magnification
        %li
          VS diamonds are both great looking and more affordable
        %li
          An average consumer looking for a &#8220;high quality&#8221; diamond will generally get a VS1

        .panel
          %p
            Very slightly can mean many things. Not every single VS diamond will be eye clean. View your diamonds in person and use a Jeweler who you trust and will help you to select a diamond with a clarity that works for you.


        %h4
          SI&ndash;Slightly Included
        %ul
          %li
            Noticeable inclusions at 10x magnification
          %li
            Beautiful, eye-clean diamonds can still be found in this category
          %li
            They are a popular choice if your looking for a deal
          %li
            Not all SI diamonds, SI2 in particular, will be eye clean

        .panel
          %p
            Watch out, especially in SI graded diamonds, you have to be more careful of larger more prominent inclusions in highly visible parts of the diamond. A large whitish inclusion may be acceptable to you, where a smaller darker one may not.


        %h4
          I&ndash;Included
        %ul
          %li
            Large, numerous, or obvious inclusions at 10x magnification
          %li
            Unsightly inclusions visible to the naked eye are almost guaranteed
          %li
            Prices are lower, but the average consumer will go for a higher clarity
          %li
            Certain inclusions may also affect the strength and durability of the stone
          %li
            As a general rule, we don&#8217;t work with I grade diamonds

        .panel
          %p
            You might consider moving up a clarity grade or getting a slightly off-color or smaller stone to work within your budget.

        %p
          You might notice that VS and SI clarity diamonds were emphasized. The majority of stones fall into these diamond clarity grades due to their combination of reasonable price and great look. It is also very possible to find diamonds graded VS1, VS2, SI1, or SI2 with no major inclusions.
        %p
          Just a note, EGL certificates include an SI3 clarity grade. It is somewhere in between a GIA SI2 and I1. Since GIA is known for stricter grading standards, we don’t generally carry or sell EGL certified diamonds. However, if we did, we would avoid most SI3 clarity diamonds.
        %p
          We can teach you to be use a jeweler’s loupe and view potential diamonds at 10x magnification. If your Jeweler isn’t showing you diamonds up close, there may be something there they don’t want you to see.

        %a{ href: "#panel2-4" } Move on to Cut >>

        %hr

        .row.text-center
          .large-8.large-centered.columns
            %h5 Navigate the 4 C's

            %dl.sub-nav{ style: 'margin: 0 auto;width: 330px' }
              %dd
                %a{ href: "#panel2-1" } Carat
              %dd
                %a{ href: "#panel2-2" } Color
              %dd.active
                %a Clarity
              %dd
                %a{ href: "#panel2-4" } Cut

      %section{ role: "tabpanel", aria_hidden: "true", class: "content", id: "panel2-4" }
        %h2
          Cut
        %p
          Of all of the four C’s, cut may be one of the most important in terms of overall beauty. It can also be one of the most confusing.
        %p
          Diamond Cut is based on the structure and measurements of the diamond. Don’t get Diamond Cut confused with Diamond Shape. They are often used interchangeably, but they are very different.
        %p
          In reality, Cut is an overall assessment describing many sub-traits: Depth, Table, Polish, and Symmetry to name a few. However, only Round diamonds receive an actual cut grade from GIA. Other shapes just have accepted ranges or guidelines for each characteristic.
        .large-9.columns
          %p
            There is not one perfect combination of depth, table, or symmetry. An ideal cut can be several combinations of factors. GIA conducted a study when it developed its Round Diamond Cut grading system and it found that there were several “hot spots” of values that would create an exceptionally pleasing Round Brilliant diamond. The most important fact you can take away from this is that viewing a diamond is always the best way for you to grade its value to you.

        .large-3.columns
          A poorly cut diamond, no matter how outstanding its clarity or color, won’t reflect light properly.

        %p
          As it turns out, the interaction of a diamond with light is the foundation for their prized brilliance, scintillation, and fire. While these three sound like fancy marketing terms, they each refer to a specific aspect of a diamond&#8217;s appearance:

        .panel
          %h6
            %ul
              %li
                Brilliance &ndash; The amount of light reflected back from the diamond. Brightness.
              %li
                Scintillation &ndash; The "sparkle" of the diamond. The intense flashes of light that are produced.
              %li
                Fire &ndash; Created by the diamond's ability to split light. Flashes of color much like rainbow



        %p
          Using a Round Brilliant as an example, we can see below how depth, for instance, can make or break the reflection of light that will make your piece of Jewelry really stand out.
        %p
          Ideal cut diamonds will command a premium over their less exact counterparts, but make sure you seriously consider the most important factor, the sparkle in your eye. Our recommendation is to make sure that your Jeweler takes diamond cut into account and works with you to balance other traits so you can get an eye-popping diamond at the right price.
        %p
          There are many other systems and methods of categorizing diamonds based on their cut or light performance, but they fail to take into account human desire. We like to think a diamond purchase should be based on your particular feelings about any particular stone, rather than a cold mathematical system of grading. We don’t use these qualifications to pick stones, and instead, we actually look at each diamond before we show it to you. In this way, we ensure that you only spend your time looking at diamonds that look great, regardless of grades or measurements.
        %p
          As a guide, diamond cut can help to separate out the haves from the have nots. What it shouldn&#8217;t be is the only measurement by which you select your diamond. It may take some time, but with the help of a conscientious jeweler, you can find a diamond in the rough.

        %a{ href: "#panel2-2" } Move on to Color >>

        %hr

        .row.text-center
          .large-8.large-centered.columns
            %h5 Navigate the 4 C's

            %dl.sub-nav{ style: 'margin: 0 auto;width: 330px' }
              %dd
                %a{ href: "#panel2-1" } Carat
              %dd
                %a{ href: "#panel2-2" } Color
              %dd
                %a{ href: "#panel2-3" } Clarity
              %dd.active
                %a Cut

