%label
  Color
  %select{ name: 'color[]', size: 7, multiple: true, style: 'height: 100%;' }
    %option{ value: 'D' } D
    %option{ value: 'E' } E
    %option{ value: 'F' } F
    %option{ value: 'G' } G
    %option{ value: 'H' } H
    %option{ value: 'I' } I
    %option{ value: 'J' } J
