%label
  Clarity
  %select{ name: 'clarity[]', size: 6, multiple: true, style: 'height: 100%;' }
    %option{ value: 'VVS1' } VVS1
    %option{ value: 'VVS2' } VVS2
    %option{ value: 'VS1' } VS1
    %option{ value: 'VS2' } VS2
    %option{ value: 'SI1' } SI1
    %option{ value: 'SI2' } SI2
