%label
  Cut
  %select{ name: 'cut[]', size: 3, multiple: true, style: 'height: 100%;' }
    %option{ value: 'Excellent' } Excellent
    %option{ value: 'Very Good' } Very Good
    %option{ value: 'Good' } Good
    %option{ value: 'Fair' } Fair
