%label
  Shape
  %ul.small-block-grid-3.text-center#shape-selector
    %li
      %img.th.radius{ src: url('/img/diamonds/round.png') }
      Round
    %li
      %img.th.radius{ src: url('/img/diamonds/princess.png') }
      Princess
    %li
      %img.th.radius{ src: url('/img/diamonds/radiant.png') }
      Radiant
    %li
      %img.th.radius{ src: url('/img/diamonds/cushion.png') }
      Cushion
    %li
      %img.th.radius{ src: url('/img/diamonds/oval.png') }
      Oval
    %li
      %img.th.radius{ src: url('/img/diamonds/emerald.png') }
      Emerald
    %li
      %img.th.radius{ src: url('/img/diamonds/marquise.png') }
      Marquise
    %li
      %img.th.radius{ src: url('/img/diamonds/asscher.png') }
      Asscher
    %li
      %img.th.radius{ src: url('/img/diamonds/pear.png') }
      Pear
  %select#shape-list{ name: 'shape[]', size: 7, multiple: true, style: 'display: none;' }
    %option{ value: 'Round' } Round
    %option{ value: 'Princess' } Princess
    %option{ value: 'Radiant' } Radiant
    %option{ value: 'Cushion' } Cushion
    %option{ value: 'Oval' } Oval
    %option{ value: 'Emerald' } Emerald
    %option{ value: 'Marquise' } Marquise
    %option{ value: 'Asscher' } Asscher
    %option{ value: 'Pear' } Pear
