-# Frontmatter for layout
- @title = 'About'
-# End Frontmatter

.row
  .large-8.columns
    :markdown
      # About Us

      We have been custom crafting beautiful engagement rings for over 25 years in Chicago's historic diamond district.

      From diamonds handpicked just for you, to engagement rings tailored to your every desire, you will be sure to find exactly what your looking for.

      However, there are a few things you should know about us that make the Gale Diamonds experience a bit different:
    .row
      .large-8.columns
        :markdown
          * <h4>Custom Made Engagement Rings</h4>
            * When we say custom, we really mean it. You won't find mountains of generic jewelry here.
            * This way, you won't have to wade through a giant showroom full of case upon case of jewelry that *isn't quite right.*
            * It does mean that together, we will have to create a design. But don't worry, we'll be with you the whole time. You can [learn about the Custom Design process here][Custom Design].

            [Custom Design]: /education/rings/custom-design "Custom Design"
      .large-4.columns
        %div{ style: 'max-width: 300px;max-height: 300px;background-color:lightgray;'}
        A pretty picture or something.
    .row
      .large-4.columns
        %div{ style: 'max-width: 300px;max-height: 300px;background-color:lightgray;'}
        A pretty picture or something.
      .large-8.columns
        :markdown
          * <h4>Think Diamond Concierge</h4>
            * We get to know you, so we can use it along with years of expertise, to find you the perfect diamond.
            * Set up an appointment, come see diamonds through a loupe, just like the jeweler's do.
            * By appointment only, so you get a private unrushed experience.
    .row
      .large-8.columns
        :markdown
          * <h4>To Engagement Rings...and Beyond!</h4>
            * Whether it's wedding bands, earrings, or a unique anniversary gift, we've got you covered.
            * Complimentary with every purchase:
                * cleanings for the life of your jewelry
                * independent appraisal
                * compliments from strangers
      .large-4.columns
        %div{ style: 'max-width: 300px;max-height: 300px;background-color:lightgray;'}
        A pretty picture or something.
    .row
      .large-12.columns
        :markdown
          ### Old School Values, New Techniques

          Although we use the latest technology to craft your engagement ring, we still believe in old-school values like customer service, phone calls, and face to face meetings.

          So, feel free to call us up at #{phone_number} and we can answer any of your questions, chat about what your searching for, or even set you up with an appointment.

          For directions and other contact information #{page_link('contact', 'go to our contact page')}.
  .large-4.columns
    = email_signup( location: 'sidebar' )
    %h2 Where to Start:
    .panel.callout.radius
      :markdown
        ### [Get Educated](/education/)

        Arm yourself with knowledge so you can shop with purpose
    .panel.callout.radius
      :markdown
        ### [View Rings](/engagement-rings/)

        It's never to early to browse beautiful engagment rings...
    .panel.callout.radius
      :markdown
        ### [Request a Diamond Quote](/diamonds/quote/)

        Enter your request and we'll pick the best stones for you
