- @title = 'Contact Us'

.row
  .large-8.columns
    %h1 Contact & Location Info
    %ul.tabs{ data: { tab: true } }
      %li.tab-title.active
        %a{ href: '#contact' } Send us a message
      %li.tab-title
        %a{ href: '#directions' } Maps & Directions
    %h2 Location & Directions
    = partial :map
    %h2 Contact Us
    %p
      Enter your questions or request and we will get back to you as quickly as possible.

    - form_data = { id: 'contact-us', action: '/contact/' }
    = form('contact', form_data, 'Submit your Question')
  .large-4.columns
    %h3 Contact Info
    %hr
    = partial :business_info
