- @title = 'Contact Us'
- crumb

.row
  .large-12.columns
    %h1 Contact Us
    %p
      Enter your request and we will get back to you as quickly as possible.

    - @form_data = { action: '/contact' }
    - content_for :form do
      = partial :contact
      .row
        .small-6.small-centered.columns
          - content_for :submit do
            Submit your Question
          = partial :submit_button
    = partial :form
