- @title = 'Diamonds'

.row
  .large-8.columns
    .text-center
      :markdown
        # Buying a Diamond doesn't have to take forever

        Purchasing a diamond can be a very intimidating process.

        You may only have to do it once in your life, but the investment and significance of the purchase are huge.

        Many jewelers might choose to include a large list of diamonds for you on a page like this, but we don't.
  .large-4.columns
    .panel.callout.radius
      :markdown
        #### Don't know where to start?

        Our education section is a great place to learn the _tricks_ of the trade.
.row
  .large-12.columns
    .text-center
      :markdown
        Why not?

        <h3 class="subheading">That's what we're here for!</h3>

        ### That's what we're here for!

        Our _mission_ is to assist you in the selection of a beautiful diamond!

        We'd be happy to help you out, and we want you to feel comfortable contacting us, so you have a few options:

    :markdown
      * **[Fill out a form, get a quote](/diamonds/quote/)**

      > Yup, it's that easy. Rather than having to brave finding a diamond in the rough yourself, let us help.<br />It's that easy.

      * **[Fill out a quick contact form](/contact/) or [Send us an email direct](mailto:sales@galediamonds.com)**

      > For best results, include a phone number so we can discuss your desires.

      * **[Give us a call](tel:+1-312-920-0075)**

      > On a cell phone, just click and we'll be speaking in seconds.<br ?> Otherwise, pick up your favorite phone and dial [312-920-0075](tel:+1-312-920-0075)

      * **[Look a selection of pretty rings](/engagement-rings/)**

      > Although the custom design process requires you select a diamond first, choosing the right ring can be even trickier. Get a head start by browsing our selection and pick your favorites. We can then remix all of your favorite rings into the custom design of your dreams.

      * **[Get Educated](/education/)**

      > Here you can learn important stuff, like [what's important to know when purchasing a diamond](/education/diamonds/). In addition, you'll learn other fun things, like the (not so secret) industry lingo, so you'll know exactly how to describe the thing you liked on that one ring you saw.
