-# Frontmatter for layout
- @title = 'Home'
-# End Frontmatter

.row
  .large-12.columns
    .slider
      %img{ src: 'http://placehold.it/1000x400&text=Big+Slider+Image' }
    %hr
.row
  .medium-4.columns
    %img{ src: 'http://placehold.it/200x200/8888ff/ffffff&text=Fancy+Ring+1'}
    :markdown
      ### Select your diamond
      Overwhelmed by the selection and number of options available to you?

      We've got you covered. Just send us a request and let us do the hard work for picking fonly the very best diamonds to show you.
  .medium-4.columns
    %img{ src: 'http://placehold.it/200x200/8888ff/ffffff&text=Fancy+Ring+2'}
    :markdown
      ### Design your ring
      Once you've selected a diamond, we work with you to design the perfect ring to show it off.

      From contemporary Halo style, to classic solitaire designs, we have the expertise and process to make your dreams come true.
  .medium-4.columns
    %img{ src: 'http://placehold.it/200x200/8888ff/ffffff&text=Fancy+Ring+3'}
    :markdown
      ### Get it custom made to perfection
      Custom made to perfection to the exact measurements of your center stone, your setting will stay beautiful and secure for years to come.

      Using advanced materials like 14kt White Gold X1 and cutting edge CAD Design techniques, your ring is crafted with the same love and care that went into designing it.
