-# Frontmatter for layout
- @title = 'Home'
-# End Frontmatter

.row
  .large-12.columns
    .slider
      %img{ src: '/img/three_engagement_rings.jpg' }
    %hr
    %h4.text-center
      We make it easy to find the perfect diamond and create the ring of your dreams...
    %hr
.row
  .medium-4.columns
    %img{ style: 'margin:0 auto;display:block', src: '/img/diamond.jpg' }
    :markdown
      ### Select your diamond
      Overwhelmed by the selection and number of options available to you?

      That's not to mention the new terminology and lingo that you'll need to learn.

      Luckily, we've got you covered on both fronts. We'll pick you out a choice collection of stones, and we'll teach you the what you need to know to make an educated purchase.

       Just send us a request and let us do the hard work.
  .medium-4.columns
    %img{ style: 'margin:0 auto;display:block', src: '/img/cad.jpg' }
    :markdown
      ### Design your ring
      Once you've selected a diamond, we work with you to design the perfect ring to show it off.

      From contemporary Halo styles, to classic Solitaire designs, we can make them all.

      We will also help you so that you don't end up with a ring that has diamonds popping out left and right.

      Building a secure ring starts at the design process, so we take care to make sure we do it right.
  .medium-4.columns
    %img{ style: 'margin:0 auto;display:block', src: '/img/ring.jpg' }
    :markdown
      ### Get your ring
      After we ensure that you have a ring that not only looks good, but will stay that way, we finish it to perfection.

      Using advanced materials like 14kt White Gold X1 and cutting edge CAD Design techniques, your ring is crafted with the same love and care that went into designing it.

      After every diamond is perfectly set, and every surface is polished to perfection, your ring will be ready to go.
