%a{ target: '_blank', href: "//www.pinterest.com/pin/create/button/?url=#{URI.escape(url)}&media=#{URI.escape(img)}&description=#{URI.escape(desc)}", data: { pin_do: 'buttonPin', pin_config: 'above', pin_color: 'red', pin_height: '28' } }
  %img{ src: '//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png' }
