%a{ target: '_blank', href: "pinterest.com/pin/create/button/?url=#{URI.escape(url)}&media=#{URI.escape(img)}&description=#{URI.escape(desc)}", data: { pin: { do: 'buttonPin' } } }
  %img{ src: '//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png' }
