.row
  .small-12.medium-5.columns
    = field :shape_selector
  .small-12.medium-7.columns
    .row
      = field :metal
    .row
      = field :budget
.row
  .large-12.columns
    = partial :contact
