- @title = 'Our Policies'

.row
  .large-12.columns
    %h1 Our Policies
    %p
      We aren't the type to follow the rules to a T, and we find it is much better to take each situation one by one.
    %p
      That being said, it may be helpful to lay down some ground rules so that we can all be on the same page (It also happens our lawyers said we had to).
    %p
      If you are a customer of ours, or are you are thinking of becoming one, it would be much better if you just give us a call at
      %a{ href: "tel:+1-312-920-0075"} 312-920-0075
      with any questions you might have.
    %ul
      %li
        %a{ href: url('/policies/returns/') } Return Policy
      %li
        %a{ href: url('/policies/shipping/') } Shipping Policy
      %li
        %a{ href: url('/policies/privacy/') } Privacy Policy
      %li
        %a{ href: url('/policies/terms-of-service/') } Terms of Service
