%ul.vcard{ itemprop: 'address', itemscope: true, itemtype: 'http://schema.org/PostalAddress' }
  %li.street-address{ itemprop: 'streetAddress' }
    5 N Wabash Ave Apt 403
  %li.locality{ itemprop: 'addressLocality' }
    Chicago
  %li
    %span.state{ itemprop: 'addressRegion' }
      Illinois
    ,
    %span.zip{ itemprop: 'postalCode' }
      60602
