= yield_content :pre_contact
%fieldset
  %legend Contact Info
  .row
    .large-6.columns
      %label
        Name
        %sup
          %span{ style: 'color: red' } *
          (required)
        %input{ name: 'name',
                type: 'text',
                placeholder: 'Enter your first and last name',
                required: true,
                autocomplete: 'name'}
        %small.error A name is required.
    .large-6.columns
      %label
        Email
        %sup
          %span{ style: 'color: red' } *
          (required)
        %input{ name: 'e-mail',
                type: 'email',
                placeholder: 'myemail@provider.com',
                required: true,
                autocomplete: 'email'}
        %small.error A valid email address is required.
  .row
    .large-6.columns
      = partial :state
    .large-6.columns
      %label
        Phone
        %input{ name: 'phone',
                type: 'tel',
                placeholder: '###-###-####',
                autocomplete: 'tel'}
.row
  .large-12.columns
    = yield_content :pre_comments
    %label
      Comments
      %textarea{ name: 'comments',
                 rows: 10,
                 cols: 30,
                 placeholder: 'Enter any additional thoughts or questions...'}
