%footer.row
  .small-12.small-centered.columns
    %hr
    .row
      .small-12.large-6.columns
        %ul.inline-list
          %li
            %a{ href: '#' } Link 1
          %li
            %a{ href: '#' } Link 2
          %li
            %a{ href: '#' } Link 3
          %li
            %a{ href: '#' } Link 4
      .small-12.large-6.columns
        %p.text-right &copy; Copyright 2014 Gale Diamonds Chicago
