%footer.row
  .small-12.small-centered.columns
    %hr
    .row
      .small-6.large-3.columns
        %ul
          %li
            %a{ href: '#' } Diamonds
          %li
            %a{ href: '#' } Engagement Rings
          %li
            %a{ href: '#' } Education
          %li
            %a{ href: '#' } Blog
      .small-6.large-3.columns
        %ul
          %li
            %a{ href: '#' } Link 1
          %li
            %a{ href: '#' } Link 2
          %li
            %a{ href: '#' } Privacy Policy
          %li
            %a{ href: '#' } Customer Service
      .small-12.large-6.columns
        %p.text-center &copy; Copyright 2014 Gale Diamonds Chicago
