%footer.row
  .small-12.small-centered.columns
    %hr
    .row
      .small-6.large-3.columns
        %ul.side-nav
          %li
            %a{ href: url('/diamonds/') } Diamonds
          %li
            %a{ href: url('/engagement-rings/') } Engagement Rings
          %li
            %a{ href: url('/education/') } Education
          %li
            %a{ href: url('//') } Blog
      .small-6.large-3.columns
        %ul.side-nav
          %li
            %a{ href: url('/policies/return/') } Return Policy
          %li
            %a{ href: url('/policies/shipping/') } Shipping Policy
          %li
            %a{ href: url('/policies/privacy/') } Privacy Policy
          %li
            %a{ href: url('/contact/') } Customer Service
      .small-12.large-6.columns
        %p.text-center
          &copy; Copyright 2014 Gale Diamonds Chicago
          %br
          %a{ href: url('/policies/terms-of-service/') } Terms & Conditions
