- defaults = { method: 'post', data: { abide: true } }
- defaults.merge(@form_data)
%form{defaults}
  .results{ style: 'display: none;' }
    %h1
  = yield_content :form

-# content_for :scripts do
-#   %script{ src: '/bower_components/foundation/js/foundation/foundation.abide.js' }
-#   %script{ src: '/js/form.js' }
