%iframe{ width: 500, height: 400,
         frameborder: 0,
         style: 'border:0;width:100%',
         src: 'https://www.google.com/maps/embed/v1/place?key=AIzaSyCn_uuOjIL2aBi9Z2xIqxqVPUnuamP2lbM&q=Gale+Diamonds+Chicago,Chicago+IL&center=41.882336,-87.626001&zoom=18'}
