.row
  .large-12.columns
    %nav.top-bar{ data: { topbar: true } }
      %ul.title-area
        %li.name Navigation
        %li.toggle-topbar.menu-icon
          %a{ href: '#' }
            %span Menu

      %section.top-bar-section
        %ul.right
          = render_menu
    %hr
