- menu.each do |name, data|
  - dropdown = data[:dropdown]
  - url = data[:url]
  - classes = []
  - classes << active?(url)
  - classes << 'has-dropdown' if dropdown
  %li{ class: classes }
    %a{ href: url(data[:url]) }
      = name
    - if dropdown
      %ul.dropdown
        -#%li.show-for-small-only
        -#  %a{ href: url(data[:url]) }
        -#    = name
        - dropdown.each do |subname, suburl|
          %li
            %a{ href: url(suburl) }
              = subname
