%article#post-id.engagement-ring{ class: classify([ring.diamond, ring.style, ring.collection]), data: { price: ring.from_price } }

  .entry-summary
    - src = "/img/sareen/#{tagify(ring.collection)}/thumb/#{ring.view}"
    %a{ href: '#', title: '' }
      %img.lazy{ src: '/img/white.gif', data: { original: src } }
      %noscript
        %img{ src: src }

  %footer.entry-footer
    %p.entry-meta
      = "From #{ring.display_price}"
