.social-profiles
  %a.webicon.facebook.large{ target: '_blank', href: 'https://www.facebook.com/pages/Gale-Diamonds-Chicago/6552692301' }
    Facebook
  %a.webicon.foursquare.large{ target: '_blank', href: 'https://foursquare.com/v/gale-diamonds-chicago/4f2c6d54771620a557b1c30b' }
    FourSquare
  %a.webicon.googleplus.large{ target: '_blank', href: 'https://plus.google.com/110161168429850552751/posts' }
    Google+
  %a.webicon.pinterest.large{ target: '_blank', href: 'http://www.pinterest.com/galediamonds/' }
    Pinterest
  %a.webicon.yelp.large{ target: '_blank', href: 'http://www.yelp.com/biz/gale-diamonds-chicago-chicago' }
    Yelp
