.social-profiles
  %a.webicon.facebook.large{ href: '#' }
    Facebook
  %a.webicon.foursquare.large{ href: '#' }
    FourSquare
  %a.webicon.googleplus.large{ href: '#' }
    Google+
  %a.webicon.pinterest.large{ href: '#' }
    Pinterest
  %a.webicon.twitter.large{ href: '#' }
    Twitter
  %a.webicon.yelp.large{ href: '#' }
    Yelp
