.row
  .small-6.small-centered.columns
    %button.button.large.radius{ type: 'submit' }
      %span.text
        = yield_content :submit_text
      %div.loading{ style: 'display: none;'}
        %div
        %div
        %div
