- @title = 'Contact Us'
- crumb

.row
  .large-12.columns
    %h1 Contact Us
    %p
      Enter your request and we will get back to you as quickly as possible.

.row
  .large-12.columns
    %form#diamond-request{ action: '/diamond-quote', date: { abide: true } }
      = partial :contact

- content_for :scripts do
  %script{ src: '/bower_components/foundation/js/foundation/foundation.abide.js' }
  %script{ src: '/js/form.js' }
