- @title = 'Get a Diamond Quote'

.row
  .large-8.columns.large-centered
    %div{ data: { magellan_expedition: 'fixed' } }
      %dl.sub-nav
        %dd{ data: { magellan_arrival: 'shape' } }
          %a{ href: '#shape' } Diamond Shape
        %dd{ data: { magellan_arrival: 'budget' } }
          %a{ href: '#budget' } Budget
        %dd{ data: { magellan_arrival: 'contact' } }
          %a{ href: '#contact' } Contact Info
.row
  .large-12.columns
    %form{ date: { abide: true } }
      .row
        .large-4.columns
          %a{ name: 'shape' }
          %label{ data: { magellan_destination: 'shape' } }
            Shape
            %ul.small-block-grid-3.text-center#shape-selector
              %li
                %img.th.radius{ src: url('/img/diamonds/round.png') }
                Round
              %li
                %img.th.radius{ src: url('/img/diamonds/princess.png') }
                Princess
              %li
                %img.th.radius{ src: url('/img/diamonds/radiant.png') }
                Radiant
            %input{ type: 'text' }
            %select#shape-list{ name: 'Shape', size: 7, multiple: true, type: 'hidden' }
              %option{ value: 'Any', selected: true } Any
              %option{ value: 'Round' } Round
              %option{ value: 'Princess' } Princess
              %option{ value: 'Radiant' } Radiant
              %option{ value: 'Cushion' } Cushion
              %option{ value: 'Oval' } Oval
              %option{ value: 'Emerald' } Emerald
              %option{ value: 'Marquise' } Marquise
              %option{ value: 'Asscher' } Asscher
              %option{ value: 'Pear' } Pear
        .large-4.large-offset-2.columns.end
          %a{ name: 'budget' }
          %label{ data: { magellan_destination: 'budget' } }
            Budget
            %input{ type: 'number' }
          %label
            Carat Weight
            %input{ type: 'number' }
      .row
        .large-4.columns
          %label
            Color
            %select{ name: 'Color', size: 8, multiple: true }
              %option{ value: 'Any' } Any
              %option{ value: 'D' } D
              %option{ value: 'E' } E
              %option{ value: 'F' } F
              %option{ value: 'G' } G
              %option{ value: 'H' } H
              %option{ value: 'I' } I
              %option{ value: 'J' } J
        .large-4.columns
          %label
            Clarity
            %select{ name: 'Clarity', size: 8, multiple: true }
              %option{ value: 'Any' } Any
              %option{ value: 'VVS1' } VVS1
              %option{ value: 'VVS2' } VVS2
              %option{ value: 'VS1' } VS1
              %option{ value: 'VS2' } VS2
              %option{ value: 'SI1' } SI1
              %option{ value: 'SI2' } SI2
        .large-4.columns
          %label
            Cut
            %select{ name: 'Cut', size: 8, multiple: true }
              %option{ value: 'Any' } Any
              %option{ value: 'Excellent' } Excellent
              %option{ value: 'Very Good' } Very Good
              %option{ value: 'Good' } Good
      %a{ name: 'contact' }
      %fieldset{ data: { magellan_destination: 'contact' } }
        %legend Contact Info
        .row
          .large-4.columns
            %label
              Name
              %input{ type: 'text', placeholder: 'Enter your first and last name' }
          .large-4.columns
            %label
              Email
              %input{ type: 'email', placeholder: 'Enter your best email' }
          .large-4.columns
            %label
              Phone
              %input{ type: 'tel', placeholder: 'Enter the best phone number' }
        .row
          .large-12.columns
            %label
              State
              %input{ type: 'text' }
      .row
        .large-12.columns
          %label
            Comments
            %textarea{ rows: 10, cols: 30, placeholder: 'Enter any additional thoughts or questions...' }
      .row
        .large-12.columns
          %button{ type: 'submit' } Request a Quote

    %div.range-slider.radius{ data: { slider: true } }
      %span.range-slider-handle
      %span.range-slider-active-segment
      %input{ type: 'hidden' }

- content_for :scripts do
  %script{ src: '/bower_components/foundation/js/foundation/foundation.abide.js' }
  %script{ src: '/bower_components/foundation/js/foundation/foundation.slider.js' }
  %script{ src: '/bower_components/foundation/js/foundation/foundation.magellan.js' }
