-# Frontmatter for layout
- @title = 'Home'
-# End Frontmatter

.row
  .large-12.columns
    .slider
      %img{ src: 'http://placehold.it/1000x400&text=Big+Slider+Image' }
    %hr
.row
  .medium-4.columns
    %img{ src: 'http://placehold.it/200x200/8888ff/ffffff&text=Fancy+Ring+1'}
    :markdown
      ### Select your diamond
      I'm the first of three columns...
  .medium-4.columns
    %img{ src: 'http://placehold.it/200x200/8888ff/ffffff&text=Fancy+Ring+2'}
    :markdown
      ### Design your ring
      I'm the second of three columns
  .medium-4.columns
    %img{ src: 'http://placehold.it/200x200/8888ff/ffffff&text=Fancy+Ring+3'}
    :markdown
      ### Get it custom made to perfection
      I'm the first of three columns
