-# Frontmatter for layout
- @title = 'Home'
-# End Frontmatter

.row
  .large-12.columns
    .slider
      %img{ src: 'http://placehold.it/1000x400&text=Big+Slider+Image' }
    %hr
.row
  .medium-4.columns
    %img{ src: 'http://placehold.it/200x200/8888ff/ffffff&text=Fancy+Ring+1'}
    %p I'm the first of three columns
  .medium-4.columns
    %img{ src: 'http://placehold.it/200x200/8888ff/ffffff&text=Fancy+Ring+2'}
    %p I'm the second of three columns
  .medium-4.columns
    %img{ src: 'http://placehold.it/200x200/8888ff/ffffff&text=Fancy+Ring+3'}
    %p I'm the last of three columns
