- @crumb = @title = 'Custom Ring Quote'

.row
  .large-12.columns
    %h1 Get a Ring Quote
    %p
      Enter as much information as possible to allow us to assist you.
    %p
      Your name and email is required so we can follow up. We may have some follow up questions, so entering a phone number will help us to provide you with a timely and accurate quote.
    %p
      Enter in the basics. If you'd like, you'll be given the opportunity to include some links, images, and style #'s of interesting rings you've seen.

.row
  .large-12.columns
    - form_data = { id: 'custom-ring-request', action: '/engagement-rings/quote/' }
    = form('custom_ring_quote', form_data, 'Request a Quote on a Custom Ring')
