- @title = 'Engagement Rings'
- content_for :scripts do
  %script{ type: 'text/javascript', src: '//assets.pinterest.com/js/pinit.js' }

.row.text-center
  .large-12.columns.clearfix
    .filters.small-6.large-6.columns.left
      %h4 Select A Designer
      %select.small-vendors.show-for-small-only{ name: 'ven', data: {filter_group: 'ven'} }
        %option{ value: 'gale-diamonds', data: { filter: '.gale-diamonds' } } Gale Diamonds
        %option{ value: 'sareen', data: { filter: '.sareen'} } Sareen
      %dl.sub-nav.show-for-medium-up{ data: { filter_group: 'ven' }, style: '/*margin: 0 auto;width: 260px;*/' }
        %dd{ data: { filter: '.gale-diamonds' } }
          %a{ src: '#' } Gale Diamonds
        %dd{ data: { filter: '.sareen' } }
          %a{ src: '#' } Sareen
    .sorts.small-6.large-6.columns.right
      %h4 Sort by Price
      %select.show-for-small-only{ name: 'ven', data: {filter_group: 'ven'} }
        %option{ value: 'none', data: {reset_sort: true} } None
        %option{ value: 'most', data: {sort_desc: true} } Most Expensive
        %option{ value: 'lease', data: {sort_asc: true} } Lease Expensive
      %dl.sub-nav.show-for-medium-up{ data: {sort_by: 'price'} }
        %dd{ data: {sort_asc: true} }
          %a{ src: '#' } Least Expensive
        %dd{ data: {sort_desc: true} }
          %a{ src: '#' } Most Expensive
        %dd{ data: {reset_sort: true} }
          %a{ src: '#' } Reset
    %hr{ style: 'margin-bottom: 5px;'}
.row.text-center
  .small-6.large-6.columns
    %h4 Collections
    .filters.gale-diamonds-collections{ style: 'display: none;' }
      %select.show-for-small-only{ name: 'gdc', data: {filter_group: 'gdc'} }
        %option{ value: 'all', data: { filter: 'all' } } All
        %option{ value: 'antique', data: { filter: '.antique'} } Antique
        %option{ value: 'colored-stone', data: { filter: '.colored-stone'} } Colored Stone
        %option{ value: 'halo', data: { filter: '.halo'} } Halo
        %option{ value: 'signature', data: { filter: '.signature'} } Signature
        %option{ value: 'solitaire', data: { filter: '.solitaire'} } Solitaire
        %option{ value: 'three-stone', data: { filter: '.three-stone'} } Three Stone
      %dl.sub-nav.show-for-medium-up{ data: { filter_group: 'gdc' } }
        %dd{ data: { filter: '.antique'} }
          %a{ src: '#' } Antique
        %dd{ data: { filter: '.colored-stone'} }
          %a{ src: '#' } Colored Stone
        %dd{ data: { filter: '.halo'} }
          %a{ src: '#' } Halo
        %dd{ data: { filter: '.signature'} }
          %a{ src: '#' } Signature
        %dd{ data: { filter: '.solitaire'} }
          %a{ src: '#' } Solitaire
        %dd{ data: { filter: '.three-stone'} }
          %a{ src: '#' } Three Stone
    .filters.sareen-collections{ style: 'display: none;' }
      %select.show-for-small-only{ name: 'sar', data: {filter_group: 'sar'} }
        %option{ value: 'all', data: { filter: 'all' } } All
        %option{ value: 'tension', data: { filter: '.tension'} } Tension
        %option{ value: 'colored-tension', data: { filter: '.colored-tension'} } Colored Tension
        %option{ value: 'dianes-tiara', data: { filter: '.dianes-tiara'} } Diane's Tiara
        %option{ value: 'luseen', data: { filter: '.luseen'} } Luseen
        %option{ value: 'royal-cup', data: { filter: '.royal-cup'} } Royal Cup
        %option{ value: 'papion', data: { filter: '.papion'} } Papion
        %option{ value: 'handmade-3-stone', data: { filter: '.handmade-3-stone'} } Handmade 3 Stone
        %option{ value: 'bezel', data: { filter: '.bezel'} } Bezel
      %dl.sub-nav.show-for-medium-up{ data: { filter_group: 'sar'} }
        %dd{ data: { filter: '.tension'} }
          %a{ src: '#' } Tension
        %dd{ data: { filter: '.colored-tension'} }
          %a{ src: '#' } Colored Tension
        %dd{ data: { filter: '.dianes-tiara'} }
          %a{ src: '#' } Diane's Tiara
        %dd{ data: { filter: '.luseen-a'} }
          %a{ src: '#' } Luseen
        %dd{ data: { filter: '.royal-cup'} }
          %a{ src: '#' } Royal Cup
        %dd{ data: { filter: '.papion'} }
          %a{ src: '#' } Papion
        %dd{ data: { filter: '.handmade-3-stone'} }
          %a{ src: '#' } Handmade 3 Stone
        %dd{ data: { filter: '.bezel'} }
          %a{ src: '#' } Bezel
  .filters.small-6.large-6.columns
    %h4 Filter By Shape
    .filters
    %select.show-for-small-only{ name: 'shape', data: {filter_group: 'sha'} }
      %option{ value: 'all', data: { filter: 'all' } } All
      %option{ value: 'round', data: { filter: '.round'} } Round
      %option{ value: 'princess', data: { filter: '.princess'} } Princess
      %option{ value: 'radiant', data: { filter: '.radiant'} } Radiant
      %option{ value: 'cushion', data: { filter: '.cushion'} } Cushion
      %option{ value: 'emerald', data: { filter: '.emerald'} } Emerald
      %option{ value: 'oval', data: { filter: '.oval'} } Oval
      %option{ value: 'asscher', data: { filter: '.asscher'} } Asscher
      %option{ value: 'marquise', data: { filter: '.marquise'} } Marquise
      %option{ value: 'heart', data: { filter: '.heart'} } Heart
      %option{ value: 'pear', data: { filter: '.pear'} } Pear
      %option{ value: 'trillion', data: { filter: '.trillion'} } Trillion
    %dl.sub-nav.show-for-medium-up{ data: {filter_group: 'sha'} }
      %dd{ data: { filter: '.round'} }
        %a{ src: '#' } Round
      %dd{ data: { filter: '.princess'} }
        %a{ src: '#' } Princess
      %dd{ data: { filter: '.radiant'} }
        %a{ src: '#' } Radiant
      %dd{ data: { filter: '.cushion'} }
        %a{ src: '#' } Cushion
      %dd{ data: { filter: '.emerald'} }
        %a{ src: '#' } Emerald
      %dd{ data: { filter: '.oval'} }
        %a{ src: '#' } Oval
      %dd{ data: { filter: '.asscher'} }
        %a{ src: '#' } Asscher
      %dd{ data: { filter: '.marquise'} }
        %a{ src: '#' } Marquise
      %dd{ data: { filter: '.heart'} }
        %a{ src: '#' } Heart
      %dd{ data: { filter: '.pear'} }
        %a{ src: '#' } Pear
      %dd{ data: { filter: '.trillion'} }
        %a{ src: '#' } Trillion
%hr{ style: 'margin: 0;'}

.row
  #engagement-ring-archive
    = partial :ring, collection: @rings
.row.no-items-available.text-center{ style: 'display: none; margin-bottom: 20px;' }
  .large-12.columns
    %h4 Nothing here. Trying adjusting your filters.
