- @title = 'Engagement Rings'
- content_for :scripts do
  %script{ type: 'text/javascript', src: '//assets.pinterest.com/js/pinit.js', data: { pin: {build: "buildPinButton", debug: "true", color: 'red', height: '28' } } }

= partial :filters

%hr{ style: 'margin: 0;'}

.row
  #engagement-ring-archive
    = partial :ring, collection: @rings
.row.no-items-available.text-center{ style: 'display: none; margin-bottom: 20px;' }
  .large-12.columns
    %h4 Nothing here. Trying adjusting your filters.
